/***********************************全局样式开始***********************************/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
    list-style: none;
    text-decoration: none;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,body {
    background-color: #efeff4;
	height:100%;
	overflow-y: hidden;
}

html input[type=button] {
    color: #FFFFFF;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,fieldset, button, input, th, td {
    margin: 0;
    padding: 0;
}

body {
  font-size: 100%;
  font-family: "Titillium Web", sans-serif;
  color: #4e6361;
  background-color: #f5f4e9;
}

textarea{
	padding: 10px 0px;
}

a {
  color: #6cac70;
  text-decoration: none;
}

p {
    text-indent: 22px;
}

.title0{
	font-size:1.5rem;
}
.title1{
	font-size: 0.75rem;
	color: #888;
}
.title2{
	font-size:1rem;
	color: #444;
}
.title3{
	font-size:1rem;
	color: #444;
}
.title4{
	font-size:1rem;
	/*color: #858585;*/
}
.title5{
	font-size:0.75rem;
	color: #888;
}
.title6{
	font-size:0.875rem;
	color: #888;
}
.title7{
	font-size:1rem;
	color: #888;
}

.title8{
	font-size: 1.1rem;
}
.title9{
	font-size:3.2rem;
	color: #FFFFFF;
}
.title10{
	font-size:1.2rem;
}
.title11{
	font-size:0.875rem;
}
.title12{
	font-size:1rem;
}
.title13{
	font-size:1rem;
	color: #444;
}
h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

code, kbd, pre, samp, tt {
    font-family: "Courier New", Courier, monospace;
}

small {
    font-size: 12px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

abbr[title], acronym[title] {

    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after {
    content: '';
}

legend {
    color: #000;
}

fieldset, img {
    border: none;
}

button, input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: none;
    height: 1px;
}

body, html {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.div80{
    width:80px;
}

 .loading {
    width: 40%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1024;
}

.loading img {
    width: 50%;
    height: auto;
}


 .loadingMoveDiv {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 1024;
}
/***********************************全局样式结束***********************************/
