.xljl_header{	
	width: 100%;
	height:7% ;
	background-color:#28907e;	
}
.xljl_header span{
	float: left;
	display: block;
	height: 2.8rem;
	line-height: 2.8rem;
	text-align: center;
	color: #fff;
}
.xljl_header span:nth-of-type(1){
	width: 20%;
}
.xljl_header span:nth-of-type(2){
	width: 60%;
	
}
.xljl_header span:nth-of-type(3){
	width: 20%;
}
.xljl_menus{	
	background:url(../../img/slider/cebianlan.png) no-repeat 70% center;
	background-size: 33% 30%;
}
.xljl_back{	
	background:url(../../img/slider/back.png) no-repeat 23% center;
	background-size: 15% 33%;
}
.indexPage{
	overflow: hidden;
    overflow-y: auto;
    background-color: #f2f2f2;
    width: 100%;
    height: 93%;
    float: left;
	
}
.xljl_siderBar{
	width:60%;
	height:100%;
	left:100%;
	float: left;
	position: absolute;
	display: none;
	background-color: #242E30;
	top:0;
}
.xljl_siderBar_top{
	
	width: 100%;
	height: 267px;
	margin: 0 auto;
}
.xljl_siderBar_img{
    display: block;
    height:4.4rem ;
	width:100% ;
	position: absolute;
	top:90px;
	/*background: url(../../img/slider/touxiang.png)  no-repeat 100% 100%;*/
	background-size: 100% 100%;
	color:white;
	text-align : center;
}

.xljl_siderBar_img1{
	display: block;
	height:4.4rem ;
	width:100% ;
	position: absolute;
	top:140px;
	/*background: url(../../img/slider/touxiang.png)  no-repeat 100% 100%;*/
	background-size: 100% 100%;
	color:white;
	text-align : center;
}
.xljl_siderBar ul{
	
	width: 100%;
	height: auto;
}
.xljl_siderBar ul li{
	float: left;
	width: 100%;
	height: 2.8rem;
	line-height:2.8rem ;
	border-top:1px solid #999999 ;
	
}
.xljl_siderBar ul li:last-child{
	border-bottom:1px solid #999999 ;
}
.xljl_siderBar ul li:nth-of-type(1){
	background:url(../../img/slider/shouye.png) no-repeat 13% center;
	background-size: 7% 30%;
}
.xljl_siderBar ul li:nth-of-type(2){
	background:url(../../img/slider/zhishiku.png) no-repeat 13% center;
	background-size: 7% 30%;
}
.xljl_siderBar ul li:nth-of-type(3){
	background:url(../../img/slider/xiaoxin.png) no-repeat 13% center;
	background-size: 7% 30%;
}
.xljl_siderBar ul li:nth-of-type(4){
	background:url(../../img/slider/fexiang.png) no-repeat 13% center;
	background-size: 7% 30%;
}
.xljl_siderBar ul li:nth-of-type(5){
	background:url(../../img/slider/guanyu.png) no-repeat 13% center;
	background-size: 7% 30%;
}
.xljl_siderBar ul li:nth-of-type(6){
	background:url(../../img/slider/tuichu.png) no-repeat 13% center;
	background-size: 7% 30%;
}
.xljl_siderBar ul li span{
	display: block;
	float: left;
	margin-left: 24%;
	height: 2rem;
	line-height: 2rem;
	margin-top:.4rem ;
	text-align: left;
	width: 40%;
	color: #fff;
}
.xljl_siderBar ul li i{
	width: 13%;
	height: 2rem;
	margin-top:.4rem ;
	display: block;
	float: left;
	margin-left:14% ;
	background:url(../../img/slider/row.png) no-repeat center center;
	background-size: 30% 40%;
	
}

.indexpadding{
	 margin-left: -60%;
	-webkit-animation-name: glow;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}
.asidezs{
	 margin-left: 0;
	-webkit-animation-name: glow1;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}
.navzs{
	 left: 40%;
	-webkit-animation-name: glow2;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes glow{
	0% {
		margin-left: 0%;
	}
	100%{
		margin-left: -60%;
	}
}
@-webkit-keyframes glow1{
	0% {
		width: 100%;
	}
	100%{
		width: 40%;
	}
}
@-webkit-keyframes glow2{
	0% {
		left: 100%;
	}
	100%{
	    left: 40%;
	}
}
.xljl_img1{
	 left: -19.5%;
	-webkit-animation-name: imgs;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}
.xljl_img2{
	 left: -20%;
	-webkit-animation-name: img_bg;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}
.xljl_img3{
	 left: -21%;
	-webkit-animation-name: img_quan;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes imgs{
	0% {
		left: 40.5%;
	}
	100%{
	    left: -19.5%;
	}
}
@-webkit-keyframes img_bg{
	0% {
		left: 40%;
	}
	100%{
	    left: -20%;
	}
}
@-webkit-keyframes img_quan{
	0% {
		left: 39%;
	}
	100%{
	    left: -21%;
	}
}
.zheceng{
  position:absolute;
  top: 0;
  background-color: rgba(153,153,157,0.3);
  height: 100%;
  width:100% ;
  display: none;
}
.zheceng span{
    float: right;
    display: block;
    height: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    color: #888888;
    position: relative;
    width: 20%;
}