.green {
    background: green;
    color: green;
}

.red {
    background: red;
    color: red;
}

.blue {
    background: blue;
    color: blue;
}

.black {
    background: black;
    color: black;
}

.grey {
    background: grey;
    color: grey;
}

.yellow {
    background: yellow;
    color: yellow;
}

.purple {
    background: purple;
    color: purple;
}

.Gold {
    background: Gold;
    color: Gold;
}