.projectShowby {
	background: url("../img/bg.png") bottom center no-repeat;
    background-size: 100% 100%;
}

.xunshiProBody {
	background-color: #f2f2f2;
}

.oneName{
	font-size: 14px;
	color: #444;
}
.twoName{
	font-size: 12px;
	color: #888;
}
.threeName{
	font-size: 14px;
	color: #444;
}
.fourName{
	font-size: 14px;
	color: #888;
}
.contentOne{
	padding-top: 8px;
	line-height: 26px;
}
.contentTwo{
	height: 24px;
	line-height: 15px;
}
.contentHeight{
	height: 60px;
}
/*601的css*/

.roundsbody {
	background-color: #fff;
}

.tour_header {
	width: 100%;
	height: 40px;
	display: inline-block;
	float: left;
	background-color: #fff;
	font-size: 14px;
	/*border-bottom: 1px solid #DBDBDB;
	box-sizing: border-box;*/
	margin-bottom: 10px;
	position: relative;
}

.tour_header .header_btns {
	float: left;
	font-size: 1em;
	height: 1.8rem;
	padding: 0 0 0.4em;
	width: 33.333%;
	color: #878787;
	line-height: 1.8rem;
	padding: .4rem 0;
	position: relative;
}

.tour_header .header_btns span {
	width: .4rem;
	height: .4rem;
	line-height: .4rem;
	border-radius: .2rem;
	display: block;
	margin-top: .7rem;
	float: left;
	margin-right: 7%;
	margin-left: 12%;
	/*background-color: red;*/
}

.tour_header .header_btns p {
	width: 48%;
	height: 1.833333rem;
	float: left;
	line-height: 1.833333rem;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tour_header .header_btns:last-child {
	width: 25%;
	height: 2.4rem;
	margin-left: 5%;
	line-height: 2.4rem;
	float: left;
	padding: 0;
}

.tour_header .header_btns:last-child p {
	width: 100%;
	height: 80%;
	color: white;
	background-color: #ff6f00;
	border-radius: 2px;
	position: relative;
	top: 10%;
}

.tour_header .header_btns i {
	display: block;
	width: 21%;
	height: 1.5rem;
	float: right;
}

.tour_header .header_btns i img {
	width: 35%;
	height: auto;
	vertical-align: middle;
	padding-right: 30%;
}

.tour_header .header_btns:first-child i {
	border-right: 1px solid #dfe0e2;
}

.tour_header .header_btns:nth-of-type(2) i {
	border-right: 1px solid #dfe0e2;
}

.tour_header .header_btns ul {
	width: 75%;
	height: auto;
	overflow: hidden;
	position: absolute;
	top: 3.2em;
	z-index: 10;
	display: none;
	left: 0;
}

.tour_header .header_btns ul li {
	width: 90%;
	height: 2em;
	line-height: 2em;
	float: left;
	background: #FAFAFA none repeat scroll 0% 0%;
	text-indent: 1.8em;
	border-bottom: 1px solid #FFF;
	margin-left: 20%;
}

.rounds {
	width: 100%;
	height: 80%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #fff;
}

.rounds ul {
	width: 100%;
	height: auto;
}

.rounds ul li {
	width: 100%;
	
	display: inline-block;
	float: left;
	border-bottom: 1px solid #d2d2d2;
}

.rounds ul li .projectInformation {
	width: 90%;
	height: 100%;
	display: inline-block;
	float: left;
}

.rounds ul li .jiantou {
	width: 10%;
	height: 100%;
	display: inline-block;
	background: url(../img/ward_03.png)no-repeat center;
	background-size: 30% auto;
}

.rounds ul li .projectInformation .projectName {
	width: 95%;
	/*height: 50%;*/
	display: inline-block;
	float: left;
	margin-left: 5%;
	/*font-size: 16px;
	color: #444;*/
	
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.rounds ul li .projectInformation .project_tour {
	width: 95%;
	height: 50%;
	display: inline-block;
	float: left;
	margin-left: 5%;
	/*font-size: 14px;
	color: #8B8B8B;*/
	/*line-height: 250%;*/
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


/*602的css*/

.search {
	width: 100%;
	height: 50px;
	/*border-bottom: 1px solid #bababa;*/
	box-sizing: border-box;
}

.search input {
	width: 65%;
	height: 67%;
	position: relative;
	left: 2%;
	top: 15%;
	font-size: 12px;
	padding-left: 8%;
	border: 0;
	float: left;
	outline: none;
	line-height: 1.2rem;
	background: url(../img/search_three.png)no-repeat center;
	background-size: auto 40%;
	background-position-x: 5%;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	box-sizing: border-box;
}

.search span {
	width: 14.5%;
	height: 67%;
	text-align: center;
	line-height: 2rem;
	display: inline-block;
	border-radius: 2px;
	position: relative;
	left: 1%;
	top: 15%;
	color: #fff;
}

.search .search-btn {
	background-color: #32b16c;
	margin-left: 2%;
}

.search .reset {
	background-color: #ff6e00;
	margin-right: 2%;
}

.roundList {
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.roundList ul {
	width: 100%;
	height: auto;
	background-color: #fff;
}

.roundList ul li {
	width: 100%;
	border-bottom: 1px solid #d2d2d2;
	box-sizing: border-box;
}

.roundList ul li div {
	width: 85%;
	height: 100%;
	display: inline-block;
	float: left;
	margin-left: 5%;
}

.roundList ul li .jiantou {
	width: 10%;
	height: 100%;
	display: inline-block;
	background: url(../img/position_grey.png)no-repeat left;
	background-size: 60% auto;
}

.roundList ul li .roundName {
	width: 90%;
	/*height: 50%;*/
	display: inline-block;
	/*font-size: 16px;*/
	/*line-height: 300%;*/
	float: left;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #030303;
}

.roundList ul li .checkImg {
	width: 10%;
	height: 35%;
	display: inline-block;
	background: url(../img/by_hover.png) no-repeat center 0;
	background-size: 60% auto;
	float: left;
}

.roundList ul li .otherInfo {
	width: 35%;
	/*height: 50%;*/
	display: inline-block;
	/*font-size: 14px;*/
	/*line-height: 2rem;*/
	float: left;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/*color: #8B8B8B;*/
}

.roundList ul li .distance {
	width: 35%;
	/*height: 50%;*/
	display: inline-block;
	/*line-height: 2rem;*/
	/*color: #7c7c7c;*/
	float: left;
	/*text-align: center;*/
	/*word-break:break-all;*/
}

.roundList ul li .addressImg {
	width: 10%;
	height: 50%;
	display: inline-block;
	background: url(../img/position.png) no-repeat center;
	background-size: 60% auto;
	float: left;
}

.roundList ul li .addressImg_grey {
	width: 10%;
    height: 100%;
    display: inline-block;
    background: url(../img/position_grey.png)no-repeat left;
    background-size: 60% auto;
}
.roundList ul li .addressImg {
	width: 10%;
    height: 100%;
    display: inline-block;
    background: url(../img/position.png)no-repeat left;
    background-size: 60% auto;
}
.roundList ul li .signListImg {
	width: 10%;
	/*height: 50%;*/
	display: inline-block;
	background: url(../img/rili.png) no-repeat center 0;
	background-size: 60% auto;
	float: left;
	/*line-height: 20%;*/
}


/*603的css*/

.controls {
	width: 100%;
	height: 50px;
    background-color: #28907e;
	position: fixed;
	bottom: 0;
}

.controls div {
	width: 33.33%;
	float: left;
    text-align: center;
    color: white;
    height: 100%;
    position: relative;
}
.controls div p{
    width: 100%;
    height: 60%;
    float: left;
    line-height: 120%;
    font-size: 10px !important;
}
.controls div p:nth-child(1){
	margin-top: 2%;
}
.controls div .signImg {
	background: url(../img/qiandao.png)no-repeat center;
	background-size: auto 65%;
}

.controls div .addImg {
	background: url(../img/add_2.png)no-repeat center;
	background-size: auto 65%;
}

.controls div .quoteImg {
	background: url(../img/yinyong.png)no-repeat center;
	background-size: auto 65%;
}

.controls div .border {
	width: 0;
	height: 60%;
	border-right: 1px solid #fff;
	position: absolute;
	right: 0;
	top: 20%;
}

.roundDetailsDiv {
	width: 100%;
	height: 80%;
	overflow-x: hidden;
	overflow-y: auto;
}

.roundDetails {
	/*width: 100%;
	height: auto;
	background-color: #fff;*/
}

.roundDetails li {
	width: 100%;
	
	border-bottom: 1px solid #d2d2d2;
	box-sizing: border-box;
}

.roundDetails li .choose {
	width: 8%;
	height: 100%;
	display: inline-block;
	float: left;
	/*padding-left: 2%;*/
}

.roundDetails li .choose input {
/*	width: 100%;
	height: auto;
	position: relative;
	top: 40%;*/
}

.roundDetails li .projectInformation {
	width: 80%;
	height: 100%;
	display: inline-block;
	float: left;
	margin-left: 2%;
}

.roundDetails li .jiantou {
	width: 10%;
	height: 100%;
	display: inline-block;
	background: url(../img/ward_03.png)no-repeat center;
	background-size: 30% auto;
}

.roundDetails li .name {
	width: 45%;
	
	/*height: 50%;*/
	display: inline-block;
	float: left;
	/*font-size: 16px;
	color: #2a2a2a;*/
	/*line-height: 300%;*/
	overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.roundDetails li>div .type {
	width: 20%;
	/*height: 50%;*/
	display: inline-block;
	float: left;
	/*font-size: 14px;
	color: #2a2a2a;*/
	/*line-height: 300%;*/
	overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.roundDetails li>div .time {
	width: 30%;
	/*height: 50%;*/
	display: inline-block;
	float: left;
	text-align: center;
	/*font-size: 12px;
	color: #5e5e5e;*/
	/*line-height: 300%;*/
}

.roundDetails li>div .defect {
	width: 45%;
	height: 50%;
	display: inline-block;
	float: left;
	
	/*font-size: 14px;
	color: #5e5e5e;*/
	line-height: 200%;
}

.roundDetails li>div .patrol {
	width: 50%;
	height: 50%;
	display: inline-block;
	float: left;
	/*font-size: 14px;
	color: #5e5e5e;*/
	line-height: 200%;
}

.roundDetails li>div .defect .defectTitle {
	width: auto;
	/*height: 100%;*/
	display: inline-block;
	float: left;
}

.roundDetails li>div .defect .defectType {
	width: auto;
	height: 100%;
	display: inline-block;
	float: left;
}

.roundDetails li>div .patrol .patrolTitle {
	width: auto;
	height: 100%;
	display: inline-block;
	float: left;
}

.roundDetails li>div .patrol .patrolType {
	width: auto;
	height: 100%;
	display: inline-block;
	float: left;
}


/*612的css*/

.sign-in {
	width: 100%;
	height: 150px;
	/*background-color: #92DDF1;*/
	background: url(../img/qd_bg.png)no-repeat center;
	background-size: 100% 100%;
}

.sign-in span {
	display: inline-block;
}

.sign-in .address_date {
	width: 70%;
	height: 100%;
	display: inline-block;
	float: left;
}

.sign-in .button {
	width: 30%;
	height: 100%;
	display: inline-block;
}

.sign-in .button span {
	width: 90%;
	height: 22%;
	display: inline-block;
	position: relative;
	top: 55%;
	left: 5%;
	/*background-color: #ffa902;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 180%;	*/
	background: url(../img/registration.png)no-repeat center;
	background-size: 100% 100%;
}

.sign-in .sign-address {
	width: 100%;
	height: 50%;
}

.sign-in .sign-address .sign-addr {
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 16px;
	float: left;
	line-height: 450%;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-left: 5%;
}

.sign-in .datetime {
	width: 100%;
	height: 50%;
	color: #fff;
}

.sign-in .datetime .dateImg {
	width: 10%;
	height: 100%;
	background: url(../img/calendar.png)no-repeat center;
	background-size: 80% auto;
	background-position-y: 10%;
	margin-left: 5%;
	float: left;
}

.sign-in .datetime .date {
	width: 35%;
	height: 100%;
	float: left;
	font-size: 16px;
	margin-left: 5%;
	line-height: 200%;
}

.sign-in .datetime .time {
	width: 45%;
	height: 100%;
	font-size: 20px;
	line-height: 150%;
}

.signList {
	width: 100%;
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f2f2f2;
}

.signList .title {
	width: 100%;
	height: 50px;
	background-color: #dfe3ef;
}

.signList .title span {
	width: auto;
	height: 100%;
	padding-right: 5%;
	display: inline-block;
	font-size: 1rem;
	line-height: 3rem;
	/*text-align: center;*/
	text-indent: 5%;
	border-bottom: 3px solid red;
	box-sizing: border-box;
}

.signList ul {
	width: 100%;
	height: auto;
}

.signList ul.chaxun {
	width: 100%;
	height: auto;
}

.signList ul li {
	width: 100%;
	height: 50px;
}

.signList ul li:nth-child(odd) {
	background-color: #fff;
}

.signList ul li .gou {
	width: 5%;
	height: 100%;
	display: inline-block;
	background: url(../img/checkmark.png)no-repeat center;
	background-size: 100% auto;
	margin-left: 5%;
	float: left;
}

.signList ul li div {
	width: 85%;
	height: 100%;
	display: inline-block;
}

.signList ul li .listAddress {
	width: 100%;
	height: 50%;
	display: inline-block;
	line-height: 1.7rem;
	font-size: 16px;
	color: #515151;
	text-indent: 5%;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.signList ul li .listTime {
	width: 100%;
	height: 50%;
	display: inline-block;
	line-height: 1.3rem;
	font-size: 14px;
	color: #838383;
	text-indent: 5%;
}


/*604-606的相关css*/

.tourDetail {
	width: 100%;
	/*position: relative;
	top: 40px;*/
	margin-top: 10px;
	/*font-size: 14px;*/
	/*background-color: #fafafa;
	box-shadow: 0 2px 1px 1px #bdbdbd;
	position: absolute;
	top: 0;
	padding-bottom: 2px;*/
}

.tourDetail>div {
	width: 90%;
	/*height: 50px;*/
	overflow: hidden;
	margin: auto;
	padding: 8px;
	padding-right: 0px;
}
/*.patrolTypeCli{
	background-color: #32B16C;
	color:!important #FFFFFF;
}
.tourDetailCli{
	background-color: #FF6F01;
	color:!important #FFFFFF;
}*/

.tourDetail>div .sp1 {
	width: 22%;
	min-width: 70px;
	margin-top: 12px;
	/*height: 75%;*/
	display: inline-block;
	/*text-align: center;*/
	float: left;
	/*line-height: 62px;*/
	/*top: 25%;*/
}

.tourDetail .date {
	width: 75%;
	height: 39px;
	display: inline-block;
	position: relative;
	top: 20%;
	line-height: 290%;
	text-indent: 10px;
	color: #787878;
	background-color: #fff;
	border: 1px solid #C9C9C9;
	border-radius: 3px;
}

.tourDetail>div input {
	/*width: 50%;
	position: relative;
	top:20px;
	border: none;*/
	display: none;
}

.tourDetail .patrolChoose {
	width: 75%;
	height: 100%;
	display: inline-block;
	text-align: center;
}
.green1{
	color: #FFFFFF !important;
	background-color: #32B16C;
}
.orange1{
	color: #FFFFFF !important;
	background-color: #FF6F01;
}
.tourDetail .patrolChoose label {
	width: 24%;
	height: 70%;
	display: inline-block;
	border: 1px solid #32b16c;
	box-sizing: border-box;
	border-radius: 5px;
	color: #444;
	line-height: 38px;
	position: relative;
	top: 38%;
	float: left;
	margin-left: 1.3%;
}
.tourDetail .patrolChoose label[for="p4"]{
	margin-left: 0;
}
.tourDetail .defectChoose {
	width: 75%;
	height: 100%;
	display: inline-block;
	text-align: center;
}

.tourDetail .defectChoose label {
	width: 24%;
	height: 70%;
	display: inline-block;
	border: 1px solid #ff6f00;
	box-sizing: border-box;
	border-radius: 5px;
	color: #444;
	line-height: 37px;
	position: relative;
	top: 38%;
	float: left;
	margin-left: 1.3%;
}
.tourDetail .defectChoose label[for="d1"]{
	margin-left: 0;
}

.tourDetail .tourDescribe {
	height: 8rem;
}

.tourDetail>div textarea {
	width: 74%;
	height: 90px;
	position: relative;
	/*top: 20px;*/
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	/*padding-left: 1%;*/
	text-indent: 10px;
	padding-top: 10px;
	/*box-shadow: 1px 1px 1px 1px #ececec;
	outline: none;
	resize: none;
	overflow: auto;*/
}


/*照片显示*/

.tourDetail .towerImgs {
	width: 100%;
	height: 100px;
	/*border: 1px solid black;*/
	/*position: relative;
	top: 5rem;*/
	overflow-x: auto;
	overflow-y: hidden;
	background-color: #fafafa;
	/*position: fixed;
	bottom: 0;*/
	display: none;
	text-align: center;
}

.tourDetail .towerImgs .towerImg {
	/*width: 100%;
	height: 100%;*/
	list-style: none;
	padding: 0;
}

.tourDetail .towerImgs .towerImg li {
	border: 2px solid #fafafa;
	box-sizing: border-box;
	/*width: 150px;*/
	width: 100px;
	height: 100%;
	/*float: left;*/
	display: inline-block;
}

.tourDetail .towerImgs .towerImg li img {
	width: 100%;
	height: 100%;
}


/*604控制按钮的css*/

.addControls {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background-color:#28907e;
}

.addControls div {
	width: 50%;
	float: left;
    text-align: center;
    color: white;
    height: 100%;
    position: relative;
}

.addControls div p {
    width: 100%;
    height: 60%;
    float: left;
    line-height: 120%;
    font-size: 10px !important;
}
.addControls div p:nth-child(1){
	margin-top: 2%;
}
.addControls div .saveImg {
	background: url(../img/save.png)no-repeat center;
	background-size: auto 65%;
}

.addControls div .cancelImg {
	background: url(../img/close.png)no-repeat center;
	background-size: auto 65%;
}

.addControls div .border {
	width: 0;
	height: 60%;
	border-right: 1px solid #fff;
	position: absolute;
	right: 0;
	top: 20%;
}


/*605的控制css*/

.editControls {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background-color:#28907e;
}

.editControls div {
	width: 33.33%;
	float: left;
    text-align: center;
    color: white;
    height: 100%;
    position: relative;
}
.editControls div p {
	width: 100%;
    height: 60%;
    float: left;
    line-height: 120%;
    font-size: 10px !important;
}
.editControls div p:nth-child(1){
	margin-top: 2%;
}
.editControls .save .saveImg {
	background: url(../img/save.png)no-repeat center;
	background-size: auto 65%;
}

.editControls .tourPhoto .photoImg {
	background: url(../img/photo.png)no-repeat center;
	background-size: auto 65%;
}

.editControls .delete .deleteImg {
	background: url(../img/delete.png)no-repeat center;
	background-size: auto 65%;
}

.editControls .submit .submitImg {
	background: url(../img/submit.png)no-repeat center;
	background-size: auto 65%;
}

.editControls div .border {
	width: 0;
	height: 60%;
	border-right: 1px solid #fff;
	position: absolute;
	right: 0;
	top: 20%;
}


/*606的控制css*/

.quoteControls {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background-color:#28907e;
}

.quoteControls div {
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
	position: relative;
}

.quoteControls div span:first-child {
	width: 100%;
	height: 60%;
	display: inline-block;
	font-size: 10px !important;
}

.quoteControls div span:nth-child(2) {
	width: 100%;
	height: 40%;
	display: inline-block;
	font-size: 10px !important;
	color: #fff;
}

.quoteControls .save .saveImg {
	background: url(../img/save.png)no-repeat center;
	background-size: auto 65%;
}

.quoteControls .tourPhoto .photoImg {
	background: url(../img/photo.png)no-repeat center;
	background-size: auto 65%;
}

.quoteControls div .border {
	width: 0;
	height: 60%;
	border-right: 1px solid #fff;
	position: absolute;
	right: 0;
	top: 20%;
}
.photoControls div span:nth-child(1){
	display: block;
	height: 60%;
	
}
.photoControls div span:nth-child(2){
	display: block;
	height: 50%;
	
}


/*607*/

.photos {
	width: 100%;
	height: 85%;
	overflow-x: hidden;
	overflow-y: auto;
}

.photos ul {
	width: 98%;
	margin: auto;
	margin-top: 1%;
}

.photos ul li {
	width: 33.33%;
	/*height: width;*/
	/*border: 1px solid black;
	box-sizing: border-box;*/
	display: inline-block;
	float: left;
	position: relative;
}

.photos ul .camera .cameraImg {
	width: 95%;
	height: 95%;
}

.photos ul .localPicture .localPictureImg {
	width: 95%;
	height: 95%;
}

.photos ul li .pict {
	width: 95%;
	height: 95%;
}

.photos ul li .checkImg {
	width: 20%;
	height: 20%;
	position: absolute;
	top: 5%;
	right: 10%;
	display: none;
}

.photos ul li .editType {
	width: 20%;
	height: 20%;
	position: absolute;
	bottom: 10%;
	right: 10%;
	/*display: none;*/
}

.photos ul li input {
	display: none;
}

.photoControls {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background-color: #28907e;
	/*text-align: center;*/
}

.photoControls div {
	width: 25%;
    float: left;
    text-align: center;
    color: white;
    height: 100%;
    position: relative;
}

.photoControls div p {
	width: 100%;
    height: 60%;
    float: left;
    line-height: 120%;
    font-size: 10px !important;
}
.photoControls div p:nth-child(1){
	margin-top: 2%;
}
.photoControls .checkAll .checkAllImg {
	background: url(../img/select_all.png)no-repeat center;
	background-size: auto 65%;
}

.photoControls .edit .editImg {
	background: url(../img/edit.png)no-repeat center;
	background-size: auto 65%;
}

.photoControls .delete .deleteImg {
	background: url(../img/delete.png)no-repeat center;
	background-size: auto 65%;
}

.photoControls .upload .uploadImg {
	background: url(../img/Upload.png)no-repeat center;
	background-size: auto 65%;
}

.photoControls .upload .checkNum {
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 10px;
	background-color: red;
	color: white;
	position: absolute;
	left: 56%;
	line-height: 1.4em;
	text-align: center;
	margin-top: 2%;
}

.photoControls div .border {
	width: 0;
	height: 60%;
	border-right: 1px solid #fff;
	position: absolute;
	right: 0;
	top: 20%;
}


/*.photoControls .upload .checkNum.mes{
	left: 60%;
}*/

.loading {
	width: 40%;
	height: auto;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 45%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 15;
}

.loading img {
	width: 30%;
	height: auto;
}

.loadingMoveDiv {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .2);
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	z-index: 10;
}

.zhaozi {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .2);
	position: fixed;
	top: 0;
	display: none;
	z-index: 10;
}

.scheduleMaintain_hide {
	height: 40%;
	width: 100%;
	position: absolute;
	top: 50px;
	overflow-x: hidden;
	overflow-y: auto;
	display: none;
	z-index: 11;
	background-color: #fff;
}

.scheduleMaintain_hide .left,
.right {
	width: 30%;
	height: 100%;
	text-align: center;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}

.scheduleMaintain_hide .left ul,
.right ul {
	height: auto;
	width: 100%;
}

.scheduleMaintain_hide .left ul li,
.right ul li {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #d2d2d2;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.scheduleMaintain_hide .right {
	width: 70%;
	text-align: center;
	float: left;
	border-left: 1px solid #d2d2d2;
	box-sizing: border-box;
}

.scheduleMaintain_hide .left ul li:first-child {
	background-color: #FF6F01;
	color: #fff;
}

.jiaodu {
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform:rotate(45deg);
	width: 10px;
	height: 10px;
	position: absolute;
	right: 9%;
	top: 45px;
	background-color: white;
	z-index: 11;
	border: solid 1px;
	border-color: #d2d2d2 white white #d2d2d2;
	display: none;
}